body {
  color: #1d1d1d;
  background: #f5f6f9;
  font-family: "Karla", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  margin: auto;
  padding: 0% 10%;
}

.navbar {
  background-color: rgb(191, 225, 255);
  border-radius: 2px;
}

.navbar a {
  color: #1d1d1d;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  vertical-align: middle;
}

.navbar a:hover {
  color: #009BDE;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h {
  font-family: "Lato", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
}
